VITE_FORMSPREE_ID=
EMAIL_USER=angelonueva06@gmail.com
EMAIL_PASS=
ADMIN_EMAIL=angelonueva06@gmail.com

# Firebase Configuration
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_FIRESTORE_DATABASE_ID=
