VITE_FORMSPREE_ID=
EMAIL_USER=angelonueva06@gmail.com
EMAIL_PASS=
ADMIN_EMAIL=angelonueva06@gmail.com

# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_JWT_SECRET=
